<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>

  <title>BREWASIS</title>
</head>

<body>
  <header>
    <h1><a href="/">BREWASIS DATABASE</a></h1>
  </header>
  <div id="space"></div>

      <div class="login-btn" id="login">
        <div class="login-btn">
          <a href="./chart" class="button" id="admin">CHART</a>
      </div></div>

      <div class="login-btn" id="login">
        <div class="login-btn">
            <a href="./sales" class="button" id="admin">SALES</a>
        </div></div>

        <div class="login-btn" id="login">
          <div class="login-btn">
              <a href="./products" class="button" id="admin">PRODUCTS</a>
          </div></div>

  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <footer id="footer">
    Copyright (c) 2019 <a href="/"><strong>BREWASIS</strong></a> All Rights Reserved.
  </footer>

</body>

</html>
